<!DOCTYPE html>
<html>
<head>
  <title>Backbench Challenge</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  
  <!-- For Sidebar -->
    <script type="text/javascript">

      $(document).ready(function(){

        (function($) {

         $(".button-collapse").sideNav();

       })(jQuery);

     });
     </script>
</head>

<body>
<header>
    <nav> <!-- navbar start -->
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><h4>Backbench Challenge</h4></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">=</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/process/*">PROCESS</a></li>
        <li><a href="/stats">STATS</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="/process/*">PROCESS</a></li>
        <li><a href="/stats">STATS</a></li>
      </ul>
    </div>
  </nav> <!-- navbar end -->
</header>
<!-- Page Content -->
  <div class="roae">
    <center><h3>A submission to Backbench Backend Challenge</h3></center>
  </div>
<!-- Page Content End -->
  
  <footer class="page-footer"><!-- Footer Start -->
    <center>
    <a href="https://in.linkedin.com/in/rahul1raman" style="color: #fff;">
      Made by Rahul Raman
    </a>
    </center>
  </footer><!-- Footer End -->
</body>

</html>

